@use "./colors" as *;
@use "./animation" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  // font-size: 62.5%; - to samo co 10px, bo 62.5% z 16 px to 10px
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: $white;
  background-color: $dark;
}

h1.company-name {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-family: "Nunito Sans", sans-serif;
  color: $gold;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

//header
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__text {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row: 2/3;
    grid-column: 1/3;
    padding: 2em;

    p {
      font-weight: 200;
    }
  }

  &__img {
    grid-row: 1/2;
    grid-column: 1/3;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/singing-bowls-4749781_640.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    filter: sepia();
  }

  &__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__arow {
    display: none;
  }

  &__bg-icon-one,
  &__bg-icon-two {
    position: absolute;
    opacity: 0.06;
    z-index: -5;
    animation: rotate-right 55s infinite linear;
  }

  &__bg-icon-one {
    bottom: 2em;
    right: -3em;
    width: 50%;
  }
  &__bg-icon-two {
    display: none;
  }
}

.hamburger {
  position: absolute;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;

  &-inner,
  &-inner::before,
  &-inner::after {
    background-color: $white;
    z-index: 500;
  }
}

.sticky-body {
  overflow: hidden;
}

.nav {
  &-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    transform: translateX(-102%);
    transition: transform 0.3s;
    z-index: 10;

    &--active {
      transform: translateX(0);
    }
  }

  &-desktop {
    display: none;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 2.3rem;
    color: $darker;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      color: $gold;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      border: 1px solid $gold;
      opacity: 0;
    }
    &:hover::before {
      animation: pulse 1s;
    }
  }
}

//MEDIA

@media (min-width: 992px) {
  h1.company-name {
    font-size: 6rem;
  }
  .header {
    grid-template-rows: auto repeat(2, 1fr);

    &__text {
      grid-row: 2/4;
      grid-column: 1/2;

      p {
        font-size: 1.8rem;
      }
    }

    &__img {
      grid-row: 1/4;
      grid-column: 2/3;
      object-fit: cover;
    }

    &__arrow {
      display: block;
      position: absolute;
      bottom: 3em;
      left: 48%;
      padding: 2em;
      transform: translateX(-50%);
      border: 1px solid $white;
      border-radius: 50%;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        border: 1px solid $white;
        border-radius: 50%;
        animation: pulse 2s infinite;
      }
    }
    &__arrow-icon {
      width: 50px;
    }

    &__bg-icon-one {
      left: 6em;
      bottom: 8em;
      width: 10%;
    }

    &__bg-icon-two {
      display: block;
      left: 35%;
      top: 10em;
      width: 5%;
      animation: rotate-left 55s infinite linear;
    }
  }

  .nav {
    grid-column: 1/2;
    grid-row: 1/2;

    &-desktop {
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: $white;
    }

    &__link {
      color: $white;
    }
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header {
    &__text {
      font-size: 2.2rem;
    }
  }
}
